190031925-R.GOUTAM-DS-LAB-2.

In [ ]:
import pandas as pd

In [ ]:
#1. Gather Columns into rows
df=pd.read_csv('/content/supermarket_sales - Sheet1.csv')
pd.melt(df)

         variable        value
0      Invoice ID  750-67-8428
1      Invoice ID  226-31-3081
2      Invoice ID  631-41-3108
3      Invoice ID  123-19-1176
4      Invoice ID  373-73-7910
...           ...          ...
16995      Rating          6.2
16996      Rating          4.4
16997      Rating          7.7
16998      Rating          4.1
16999      Rating          6.6

[17000 rows x 2 columns]

In [ ]:
#2.2. Spread rows into columns
df.pivot(columns='Branch',values='Total')

Branch         A        B        C
0       548.9715      NaN      NaN
1            NaN      NaN  80.2200
2       340.5255      NaN      NaN
3       489.0480      NaN      NaN
4       634.3785      NaN      NaN
..           ...      ...      ...
995          NaN      NaN  42.3675
996          NaN  1022.49      NaN
997      33.4320      NaN      NaN
998      69.1110      NaN      NaN
999     649.2990      NaN      NaN

[1000 rows x 3 columns]

In [ ]:
#3. Append rows of Data Frames
df1=pd.read_csv('/content/supermarket_sales - Sheet1.csv')
df2=pd.read_csv('/content/supermarket_sales - Sheet1.csv')
pd.concat([df1,df2])
df

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [ ]:
#4. Append columns of Data Frames
df1=pd.read_csv('/content/supermarket_sales - Sheet1.csv')
df2=pd.read_csv('/content/supermarket_sales - Sheet1.csv')
pd.concat([df1,df2], axis=1)

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 34 columns]

In [ ]:
#5. Order rows by values of a column
df.sort_values(['City','Gender'])

      Invoice ID Branch  ... gross income Rating
9    692-92-5582      B  ...        8.226    5.9
10   351-62-0822      B  ...        2.896    4.5
15   299-46-1805      B  ...       28.116    4.5
19   319-50-3348      B  ...        4.030    4.4
28   145-94-9061      B  ...       22.090    9.6
..           ...    ...  ...          ...    ...
973  531-56-4728      A  ...       12.012    5.4
981  809-46-1866      A  ...       11.630    8.4
992  745-74-0715      A  ...        5.803    8.8
997  727-02-1313      A  ...        1.592    7.7
998  347-56-2442      A  ...        3.291    4.1

[1000 rows x 17 columns]

In [ ]:
#7. Sort the index of a Data Frame
df.sort_index()

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [ ]:
#8. Reset index of Data Frame to row numbers, moving index to columns.
df.reset_index()

     index   Invoice ID Branch  ... gross margin percentage gross income Rating
0        0  750-67-8428      A  ...                4.761905      26.1415    9.1
1        1  226-31-3081      C  ...                4.761905       3.8200    9.6
2        2  631-41-3108      A  ...                4.761905      16.2155    7.4
3        3  123-19-1176      A  ...                4.761905      23.2880    8.4
4        4  373-73-7910      A  ...                4.761905      30.2085    5.3
..     ...          ...    ...  ...                     ...          ...    ...
995    995  233-67-5758      C  ...                4.761905       2.0175    6.2
996    996  303-96-2227      B  ...                4.761905      48.6900    4.4
997    997  727-02-1313      A  ...                4.761905       1.5920    7.7
998    998  347-56-2442      A  ...                4.761905       3.2910    4.1
999    999  849-09-3807      A  ...                4.761905      30.9190    6.6

[1000 rows x 18 columns]

In [ ]:
#9. Drop columns from Data Frame here I dropped city,branch
df.drop(columns=['City','Branch'])

      Invoice ID Customer type  ... gross income Rating
0    750-67-8428        Member  ...      26.1415    9.1
1    226-31-3081        Normal  ...       3.8200    9.6
2    631-41-3108        Normal  ...      16.2155    7.4
3    123-19-1176        Member  ...      23.2880    8.4
4    373-73-7910        Normal  ...      30.2085    5.3
..           ...           ...  ...          ...    ...
995  233-67-5758        Normal  ...       2.0175    6.2
996  303-96-2227        Normal  ...      48.6900    4.4
997  727-02-1313        Member  ...       1.5920    7.7
998  347-56-2442        Normal  ...       3.2910    4.1
999  849-09-3807        Member  ...      30.9190    6.6

[1000 rows x 15 columns]

In [ ]:
#10. Extract rows that meet logical criteria.
df[df.cogs>200]

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
5    699-14-3026      C  ...      29.8865    4.1
..           ...    ...  ...          ...    ...
989  430-53-4718      B  ...      30.1480    8.4
990  886-18-2897      A  ...      14.1400    4.5
991  602-16-6955      B  ...      38.3000    6.0
996  303-96-2227      B  ...      48.6900    4.4
999  849-09-3807      A  ...      30.9190    6.6

[566 rows x 17 columns]

In [ ]:
#11. Remove duplicate rows (only considers columns)
df.drop_duplicates()

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [ ]:
#12.select first n rows
df.head(50)

     Invoice ID Branch  ... gross income Rating
0   750-67-8428      A  ...      26.1415    9.1
1   226-31-3081      C  ...       3.8200    9.6
2   631-41-3108      A  ...      16.2155    7.4
3   123-19-1176      A  ...      23.2880    8.4
4   373-73-7910      A  ...      30.2085    5.3
5   699-14-3026      C  ...      29.8865    4.1
6   355-53-5943      A  ...      20.6520    5.8
7   315-22-5665      C  ...      36.7800    8.0
8   665-32-9167      A  ...       3.6260    7.2
9   692-92-5582      B  ...       8.2260    5.9
10  351-62-0822      B  ...       2.8960    4.5
11  529-56-3974      B  ...       5.1020    6.8
12  365-64-0515      A  ...      11.7375    7.1
13  252-56-2699      A  ...      21.5950    8.2
14  829-34-3910      A  ...      35.6900    5.7
15  299-46-1805      B  ...      28.1160    4.5
16  656-95-9349      A  ...      24.1255    4.6
17  765-26-6951      A  ...      21.7830    6.9
18  329-62-1586      A  ...       8.2005    8.6
19  319-50-3348      B  ...       4.0300    4.4
20  300-71-4605      C  ...      21.5100    4.8
21  371-85-5789      B  ...      13.1970    5.1
22  273-16-6619      B  ...       3.3200    4.4
23  636-48-8204      A  ...       8.6400    9.9
24  549-59-1358      A  ...      13.2945    6.0
25  227-03-5010      A  ...      21.0360    8.5
26  649-29-6775      B  ...       1.6760    6.7
27  189-17-4241      A  ...       8.7670    7.7
28  145-94-9061      B  ...      22.0900    9.6
29  848-62-7243      A  ...      11.2005    7.4
30  871-79-8483      B  ...      23.5325    4.8
31  149-71-6266      B  ...      35.1315    4.5
32  640-49-2076      B  ...      33.5120    5.1
33  595-11-5460      A  ...       9.6580    5.1
34  183-56-6882      C  ...      19.8840    7.5
35  232-16-2483      C  ...       3.4060    6.8
36  129-29-8530      A  ...      15.6550    7.0
37  272-65-1806      A  ...      27.3960    4.7
38  333-73-7901      C  ...      21.9680    7.6
39  777-82-7220      B  ...      12.0480    7.7
40  280-35-5823      B  ...       4.3360    7.9
41  554-53-8700      C  ...       5.6110    6.3
42  354-25-5821      B  ...      20.7360    5.6
43  228-96-1411      C  ...      39.4800    7.6
44  617-15-4209      C  ...       1.5370    7.2
45  132-32-9879      B  ...      18.7920    9.5
46  370-41-7321      B  ...      25.5105    8.4
47  727-46-3608      B  ...       9.0045    4.1
48  669-54-1719      B  ...       5.6790    8.1
49  574-22-5561      C  ...      41.3150    7.9

[50 rows x 17 columns]