In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a1=[10,15,17,26]
a2=[12,11,21,24]
ar1=np.array(a1)
ar2=np.array(a2)
sum_array=ar1+ar2
print(sum_array)

[22 26 38 50]

In [ ]:
print(3*sum_array)

[ 66  78 114 150]

In [ ]:
print(np.sum(sum_array))

136

In [ ]:
sum_array[sum_array!=26]

array([22, 38, 50])

In [ ]:
np.logical_and(sum_array>20,sum_array<50)

array([ True,  True,  True, False])

In [ ]:
np.logical_or(sum_array>20,sum_array<50)

array([ True,  True,  True,  True])

In [ ]:
import numpy as np
import pandas as pd
a1=[1,3,5,7]
a2=[2,45,8,2]
ar1=np.array(a1)
ar2=np.array(a2)
print(ar1[1:])
print(ar1[:3])

[3 5 7]
[1 3 5]

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[1:5])
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[1, 1:4])
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr[0:2, 2])
print(arr.shape)

[2 3 4 5]
[7 8 9]
[3 8]
(2, 5)

In [ ]:
test_score=np.array([[83,71,57,63],[54,68,81,45]])
passing_score=test_score>60
passing_score

array([[ True,  True, False,  True],
       [False,  True,  True, False]])

In [ ]:
np.array([[1,2,3],[4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
#Sum of 2-d Array and multiply with 3
import numpy as np
import pandas as pd
a1=np.array([[1,32,5],[1,53,6],[2,52,5]])
a2=np.array([[63,6,4],[8,9,4],[7,4,7]])
sum=a1+a2
sum
print(sum)
mlt=sum*3
mlt
#Slicing of 2 D Array
import numpy as np
import pandas as pd
a1=np.array([[1,32,5],[1,53,6],[2,52,5]])
a2=np.array([[63,6,4],[8,9,4],[7,4,7]])
print(a1[1,1:3])
print(a1[0,1:4])

[[64 38  9]
 [ 9 62 10]
 [ 9 56 12]]
[53  6]
[32  5]

In [ ]:
ar1=np.array([[1,2,3],[4,5,6]])
ar2=np.array([[1,2,3],[4,5,6]])
sum_array=ar1+ar2
print(sum_array)

[[ 2  4  6]
 [ 8 10 12]]

In [ ]:
#logical and
np.logical_and(sum_array>20,sum_array<50)

array([[False, False, False],
       [False, False, False]])

In [ ]:
#logical or
np.logical_or(sum_array>20,sum_array<50)

array([[ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
#logical not
np.logical_not(sum_array>20,sum_array<50)

array([[ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
#slicing
print(sum_array[1,1:4])

[10 12]

In [ ]:
#boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a=np.array([[73,94,44,76,62,10,86,74],
          [86,4,9,87,31,11,33,31],
          [77,40,72,54,20,87,91,51],
          [84,87,34,29,78,26,10,93],
          [38,20,77,27,89,51,71,84],
          [70,11,33,55,66,92,97,26],
          [44,44,69,14,20,83,61,27],
          [42,23,33,41,8,4,93,8]])
a.reshape(4,4,4)

array([[[73, 94, 44, 76],
        [62, 10, 86, 74],
        [86,  4,  9, 87],
        [31, 11, 33, 31]],

       [[77, 40, 72, 54],
        [20, 87, 91, 51],
        [84, 87, 34, 29],
        [78, 26, 10, 93]],

       [[38, 20, 77, 27],
        [89, 51, 71, 84],
        [70, 11, 33, 55],
        [66, 92, 97, 26]],

       [[44, 44, 69, 14],
        [20, 83, 61, 27],
        [42, 23, 33, 41],
        [ 8,  4, 93,  8]]])

In [ ]:
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [ ]:
a=np.array([[0,1],[2,3]])
np.resize(a,(2,3))

array([[0, 1, 2],
       [3, 0, 1]])

In [ ]:
x = np.arange(8).reshape(2, 2, 2)
np.hsplit(x, 2)

[array([[[0, 1]],

        [[4, 5]]]), array([[[2, 3]],

        [[6, 7]]])]

In [ ]:
arr = np.arange(12).reshape((3, 4))
condition = np.mod(arr, 3)==0
np.extract(condition, arr)

array([0, 3, 6, 9])

In [ ]:
#specify values of each columns
df=pd.DataFrame(
    {"a":[4,5,6],
     "b":[7,8,9],
     "c":[10,11,12]},
    index=[1,2,3]
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [ ]:
#specify values of each rows
df=pd.DataFrame(
    [[4,7,10],
     [5,8,11],
     [6,9,12],],
    index=[1,2,3],
     columns=['a','b','c']
)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [ ]:
df=pd.DataFrame(
    {"a":[4,5,6],
     "b":[7,8,9],
     "c":[10,11,12]},
     index=pd.MultiIndex.from_tuples(
         [('d',1),('d',2),('e',3)],
         names=['n','v']
     ))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 3  6  9  12

In [ ]:
from google.colab import files 


uploaded = files.upload()

Saving ds-lab1-cvs.csv to ds-lab1-cvs.csv

In [ ]:
import numpy as np
import pandas as pd
import statistics

In [ ]:
Dataset=pd.read_csv('ds-lab1-cvs.csv')
Dataset

    gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[480 rows x 17 columns]

In [ ]:
Dataset.describe

<bound method NDFrame.describe of     gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[480 rows x 17 columns]>

In [ ]:
Dataset.mean

<bound method DataFrame.mean of     gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[480 rows x 17 columns]>

In [ ]:
Dataset.median

<bound method DataFrame.median of     gender NationalITy  ... StudentAbsenceDays Class
0        M          KW  ...            Under-7     M
1        M          KW  ...            Under-7     M
2        M          KW  ...            Above-7     L
3        M          KW  ...            Above-7     L
4        M          KW  ...            Above-7     M
..     ...         ...  ...                ...   ...
475      F      Jordan  ...            Above-7     L
476      F      Jordan  ...            Under-7     M
477      F      Jordan  ...            Under-7     M
478      F      Jordan  ...            Above-7     L
479      F      Jordan  ...            Above-7     L

[480 rows x 17 columns]>

In [ ]:
x=slice(3)
print(Dataset[x])

  gender NationalITy  ... StudentAbsenceDays Class
0      M          KW  ...            Under-7     M
1      M          KW  ...            Under-7     M
2      M          KW  ...            Above-7     L

[3 rows x 17 columns]